<div class="body-unit">
  <h1>Contact Page</h1>
  <p>Contact is an annual interdisciplinary conference that brings together renowned
     social and space scientists, science fiction writers and artists to exchange
     ideas, stimulate new perspectives and encourage serious, creative speculation
     about humanity's future. The intent of Contact is to promote the integration
     of human factors into space research and policy, to explore the intersection
     of science and art, and to develop ethical approaches to cross-cultural contact.
     Since its beginnings, the Contact conference has fostered interdisciplinary i
     nquiries into art, literature, exploration and scientific investigation.
  </p>
</div>
