<div class="body-unit">
    <h1>Help Page</h1>
    <p>
      The Help is a 2011 American drama film directed and written by Tate Taylor,
      and adapted from Kathryn Stockett's 2009 novel of the same name. Featuring
      an ensemble cast, the film is about a young white woman, Eugenia "Skeeter"
      Phelan, and her relationship with two black maids, Aibileen Clark and
      Minny Jackson during Civil Rights era America (the early 1960s). Skeeter
      is a journalist who decides to write a book from the point of view of
      the maids (referred to as "the help"), exposing the racism they are
      faced with as they work for white families.      
    </p>
