<p id="notice"><%= notice %></p>

<p>
  <strong>Subject stream:</strong>
  <%= @subject_stream.subject_stream %>
</p>

<%= link_to 'Edit', edit_subject_stream_path(@subject_stream) %> |
<%= link_to 'Back', subject_streams_path %>
