<div class="body-unit">
  <h1>Control Panel</h1>
  <p>
    <h4>Categories: <%= link_to "Settings", categories_path %><br>
    Streams: <%= link_to "Settings", streams_path %><br>
    Cutoff : <%= link_to "Settings", cutoffs_path %><br>
    Registration process: <%= link_to "Settings", registers_path %></h4>
    <form action="/controlpanel" method="get">
        <input type="hidden" name="ranker" value="1">
        <input type="submit" value="Generate Rank">
    </form>
  </p>
</div>
