/* universal */

html {
  overflow-y: scroll;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.body-unit {
  width: 80%;
  margin: 0 auto;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 5px;
  overflow: auto;
  margin-bottom: 50px;
}

/* devise captcha */

.captcha-custom {
  margin: 0 auto;
  margin-left: 42%;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.field_with_errors {
  background-color: red;
}
/* home.html.erb */

#tabs-1 {
  border: 1px solid yellow;
  background-color: #CCFF66;
  padding: 5px;
  border-radius: 15px;
  text-transform:capitalize;
  font-size: 1.5em;
}

#tabs-1 h1, #tabs-2 h2, #tabs-3 h2 {
  text-align: center;
}

.user-avatar {
    float: right;
    border: 1px solid black;
    margin-top: -40px;
}
#tabs-2, #tabs-3, #tabs-4 {
  width: 49%;
  float: left;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid yellow;
  margin: 5px 5px 0 0;
  text-transform:capitalize;
  line-height: 2em;
  min-height: 370px;
  text-align: center;
  input[type=text], input[type=number], input[type=file] {
    width: 60%;
    border: 1px solid #66CCFF;
    border-radius: 4px;
    line-height: 2.2em;
    padding: 2px;
  }
  input[type=text]:focus, input[type=number]:focus {
    background-color: #FFFF4D;
  }
}
#tabs-4 {
  float: center;
  width: 100%;
  margin-bottom: 5px;
  height: auto;
  min-height: 100px;
}

.form-new {
  input[type=text], input[type=number], input[type=file] {
    width: 60%;
    border: 2px solid #66CCFF;
    border-radius: 4px;
  }
  input[type=text]:focus, input[type=number]:focus {
    background-color: #FFFF4D;
  }
  text-align: center;
}
.file-field {
  margin-left: 20%;
}

.sub-input {
  width: 30%;
}

.email-id {
  text-transform: lowercase;
}

/* streams show.html.erb */

.subject-header {
  border: 1px solid yellow;
  background-color: #CCFF66;
  padding: 5px;
  border-radius: 15px;
  text-transform:capitalize;
  font-size: 2em;
  text-align: center;
}

.result-box h3 {
  text-align: center;
  text-transform:capitalize;
  font-size: 1.5em;
}

.result-box table {
  margin: 0 auto;
  text-align:center;
  border: 1px solid black;
  line-height: 1.5em;
  font-size: 1.2em;
  th {
    background-color: #FF9900;
  }
  td, th {
    width: 200px;
  }
}


#tabs-2 table , #tabs-3 table{
  margin: 0 auto;
  text-align:center;
  font-size: 1.2em;
  th {
    background-color: #3399FF;
  }
  td, th {
    width: 30%;
    border: 1px solid green;
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

#tabs-3 table {
  th, td {
    width: 40%;
  }
}

/* alert */
.alert {
  text-align: center;
  margin: 0 auto;
  color: #CC0000;
  display: block;
  font-size: 1em;
}
 /* notice */
.notice {
  text-align: center;
  margin: 0 auto;
  color: #008A00;
  display: block;
  font-size: 1em;
}

/* streams index.html.erb */

.streams-table {
  border: 1px solid green;
  th, td {
    width: 200px;
    font-size: 1em;
    text-transform:uppercase;
    line-height: 2em;
    text-align: center;
  }
  margin: 0 auto;
}


/* media queries for mobile view */

@media screen and (max-device-width: 758px) {
  #tabs-2, #tabs-3, #tabs-4 {
    width: 100%;
    font-size: 1.2em;
  }
}

/* media queries for print */

@media print {
  #tabs-2, #tabs-3, #tabs-4 {
    width: 100%;
    border-radius: 0;
    text-align: left;
  }
}
